/* Estilo da sidebar */
@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}

body {
  background-color: #ffffff;
  font-family: "Epilogue", Sans-serif;
}

.sidebar {
  height: 100vh; /* Altura total da viewport */
  position: fixed; /* Fixa a sidebar na posição */
  top: 0;
  left: 0;
  width: 250px; /* Largura da sidebar */
  background-color: #0e2431; /* Cor de fundo da sidebar */
  padding: 1rem; /* Espaçamento interno */
  border-right: 1px solid #0d1114; /* Borda direita */
  color: #ffffff;
}

.sidebar h4 {
  margin-top: 15px; /* Espaçamento superior */
  margin-bottom: 20px; /* Espaçamento inferior */
  color: #ffffff; /* Cor do texto */
  border-bottom: 2px solid #677b87; /* Adiciona uma linha abaixo do título */
  padding-bottom: 10px; /* Espaçamento entre o texto e a linha */
  font-size: 23px;
}

.nav-underline .nav-link {
  color: #ffffff; /* Cor do texto do link */
  font-weight: 500; /* Peso da fonte dos links */
}

.nav-underline .nav-link:hover {
  color: #677b87; /* Cor do texto ao passar o mouse */
  text-decoration: underline;
  text-decoration-color: #0a3a58;
  text-decoration: none;
}

.content {
  margin-left: 270px; /* Espaçamento à esquerda igual à largura da sidebar */
  margin-top: 15px; /* Espaçamento superior */
  color: #0e2431; /* Cor de fundo da sidebar */
  background-color: #ffffff;
  padding: 1rem; /* Espaçamento interno */
}

.content h1 {
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500; /* Peso da fonte dos links */
}

carousel-inner {
  background-size: cover;
  object-fit: cover;
}

.carousel-item {
  padding: 40px 0; /* Ajuste o padding conforme necessário */
}

.contact-info img arroba {
  max-width: 20px;
}
/* Estilização básica do cartão */
/* Estilização básica do cartão */
.card {
  margin-right: 60px; /* Ajuste conforme necessário */
  margin-left: 15px;
  border: 1px solid #0a3a58; /* Define a borda */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Define a sombra da caixa */
  padding: 10px;
  width: 200px; /* Largura fixa para todos os cartões */
  height: 280px; /* Altura fixa para todos os cartões */
  display: flex; /* Usando flexbox para layout */
  flex-direction: column;
  margin-top: 8%;
  box-sizing: border-box; /* Inclui padding e borda no tamanho total */
  position: relative; /* Necessário para posicionamento do hover */
  transition: transform 0.3s, opacity 0.3s; /* Transições suaves */
}

/* Estilização da imagem dentro do cartão */
.card img {
  display: block;
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
  margin-top: 2%;
  transition: opacity 0.3s; /* Transição suave para a opacidade */
}

/* Estilização do título do cartão */
.card-title {
  font-size: 16px;
  text-align: center;
  margin: 0;
  color: #333;
}

/* Tamanho padrão da imagem do cartão */
.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* Efeito de hover no cartão */
.card:hover { 
  transform: translateY(-20px); /* Levanta o cartão ao passar o mouse */
  box-shadow: 0 16px 500px#0a3a585f;
}

/* Efeito de hover na imagem do cartão */
.card:hover img {
  opacity: 1; /* Imagem do cartão hoverado mantém a opacidade normal */


}

/* Container dos cartões */
.containerCards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; /* Adiciona espaço entre os cartões */
}

/* Efeito de hover no container */
.containerCards:hover .card {
  opacity: 0.7; /* Torna todos os cartões mais transparentes ao passar o mouse sobre o container */
}

/* Remove a opacidade reduzida do cartão que está sendo hoverado */
.containerCards .card:hover {
  opacity: 1; /* Torna o cartão hoverado opaco */
}

/* Remove a opacidade reduzida das imagens dos cartões que estão sendo hoverados */
.containerCards:hover .card img {
  opacity: 0.8; /* Torna as imagens dos cartões fora do hover mais opacas */
}
.containerCards .card:hover img {
  opacity: 1; /* Imagem do cartão hoverado mantém a opacidade normal */
  
}

/* Estilos para telas pequenas */
@media (max-width: 768px) {
  .sidebar {
    position: static; /* Faz a sidebar fluir com o conteúdo */
    width: 100%; /* Largura total da tela */
    height: auto; /* Altura automática */
    margin-bottom: 1rem; /* Espaço abaixo da sidebar */
  }

  .content {
    margin-left: 0; /* Remove o espaçamento à esquerda */
  }
}
