header {
    font-family: "Epilogue", Sans-serif;
    position: fixed; /* Faz o cabeçalho ficar fixo na tela */
    top: 0; /* Posiciona o cabeçalho no topo da página */
    left: 0;
    width: 100%;
    color: #ffffff0e;
    padding: 10px;
    z-index: 1;
    background-color: #ffffff;
    height: 85px;
    opacity: 0.9;
}

.logo {
    width: 49px;
    margin-right: 45px;
}

nav ul {
    font-family: "Epilogue", Sans-serif;
    list-style: none;
    display: flex;
    gap: 0%;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 5px;
}

nav ul li {
    position: relative;
    margin-right: 20px;
}

nav ul li a {
    color: #0a3a58;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
}

nav ul li a:hover {
    color: #73c1bf;
}

nav ul li:hover .dropdown {
    display: block;
}

nav ul .dropdown,
nav ul .sub-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 200px;
    border-radius: 4px;
    padding: 0;
    margin: 0;
}

nav ul .sub-dropdown {
    left: 100%;
    top: 0;
}

nav ul li:hover > .dropdown,
.dropdown li:hover > .sub-dropdown {
    display: block;
}

nav ul .dropdown li a,
nav ul .sub-dropdown li a {
    padding: 10px 20px;
    color: #333;
    display: block;
    text-decoration: none;
}

nav ul .dropdown li a:hover,
nav ul .sub-dropdown li a:hover {
    background-color: #f8f9fa;
}

.product-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.about-section {
    padding: 100px 0;
    background-color: #962222;
    margin-top: 150%; /* Aumentado para garantir que fique abaixo do cabeçalho */
    z-index: 10;
}

.about-section h1 {
    text-align: center;
    color: #0a3a58;
    margin-bottom: 20px;
    margin-top: 20%;
}

.about-section .retangulo {
    width: 150px;
    height: 10px;
    background-color: #0a3a58;
    margin: 0 auto 20px;
}

.about-section p {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-bottom: 40px;
}

.about-section h2 {
    text-align: center;
    color: #0a3a58;
    margin-bottom: 20px;
}

.values-list {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 40px;
}

.values-list li {
    font-size: 18px;
    margin-bottom: 10px;
}

footer {
    font-family: "Epilogue", Sans-serif;
    background-color: #0a3a58;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
